{% extends '::admin_base.html.twig' %}

{% trans_default_domain "front_end" %}

{% block content %}
    <h1>{% trans %}welcome.text{% endtrans %}</h1>

    <p>{{ 'intro.text' | trans }}</p>
{% endblock %}

{% set code = code(_self) %}
